@import "../../theme/catppuccin.scss";

.ws-container {
  background-color: rgba($mantle, 0.9);
  padding: 8px;
  border-radius: $rad;

  .ws {
    border-radius: 99px;
    padding: 0;
    min-height: 14px;
    min-width: 14px;

    &.active {
      min-width: 38px;
      background-image: linear-gradient(to right, $blue, $sapphire);
    }

    &.occupied {
      background-color: rgba($subtext1, 0.8);
    }

    &.urgent {
      background-color: $maroon;
    }

    &.empty {
      background-color: rgba($surface1, 0.95);
    }

    &:hover {
      background-color: rgba($blue, 0.8);
    }
  }
}
