@import "../../theme/catppuccin.scss";

.ws-container {
  background-color: $mantle;
  padding: 8px;
  border-radius: 99px;

  .ws {
    border-radius: 99px;
    min-height: 12px;
    min-width: 12px;

    &.active {
      min-width: 20px;
      background-color: $blue;
    }

    &.occupied {
      background-color: rgba($subtext1, 0.8);
    }

    &.urgent {
      background-color: $maroon;
    }

    &.empty {
      background-color: rgba($surface1, 0.95);
    }

    &.active:hover {
      background-color: $blue;
    }

    &:hover {
      background-color: rgba($blue, 0.5);
    }
  }
}
