@import "../theme/catppuccin.scss";

@import "style/audio.scss";
@import "style/network.scss";
@import "style/notifications.scss";
@import "style/workspaces.scss";
// @import "style/battery.scss";

.bar {
  background-color: $crust;

  .left-container {
    // background-color: rgba($base, 0.9);
    padding: 0 10;
    border-radius: 99px;

    .nix-icon {
      font-size: 16px;
      color: $sapphire;
    }

    .time {
      font-size: 12px;
      font-weight: bold;
      color: $text;
    }
  }

  .center-container {
    .stray { margin-right: 2px; }
  }

  .right-container {
    // background-color: rgba($base, 0.9);
    // padding: 0 12px 0 14px;
    // border-radius: 99px;
  }

  .sep {
    color: $base;
  }

  .panel-trigger {
    color: $teal;
    font-size: 12px;
    margin-right: 4px;
    margin-left: -10px;
    padding: 0 8px;

    &:hover {
      color: rgba($sapphire, 0.9);
    }
  }
}
