@import "../theme/catppuccin.scss";

@import "style/audio.scss";
@import "style/network.scss";
@import "style/notifications.scss";
@import "style/workspaces.scss";
// @import "style/battery.scss";

.bar {
  background-color: $glass;
  border-radius: 24px;

  .left-container {
    background-color: rgba($base, 0.9);
    padding: 0 12px 0 8px;
    border-radius: 99px;

    .nix-icon {
      font-size: 20px;
      color: $sapphire;
    }

    .stray {
      margin-right: 2px;
    }
  }

  .center-container {
    padding: 0 20px;

    .time {
      font-size: $larger;
      font-weight: bold;
      color: $text;
    }
  }

  .right-container {
    background-color: rgba($base, 0.9);
    padding: 0 12px 0 14px;
    border-radius: 99px;
  }

  .sep {
    color: rgba($overlay1, 0.4);
  }

  .panel-trigger {
    color: $teal;
    font-size: 20px;
    margin-right: 4px;
    margin-left: -10px;
    padding: 0 8px 0 10px;

    &:hover {
      color: rgba($sapphire, 0.9);
    }
  }
}
